.schedule-date-container{
    display:flex;
    .schedule-date{
        text-align: center;
        min-width: 25px;
        border-right: 0.01em solid white;
    }
}

.flight{
    background: #ff6d15;
    color: white;
    border-bottom: 0.01em solid white;
}

.today{
    background: #656565;
    color: white;
    border-bottom: 0.01em solid white;
}

.passed{
    background: #d4d4d4 !important;
    border-bottom: 0.01em solid white;
    color: white;
}