.slider-container{
    height: 330px;
}

.uk-slideshow-items{
    max-height: 320px;
    height:  320px;
    img{
        width:100% !important;
    }
}

.product-list-container{
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 8px;
}

#product-modal{
    width: 1000px;
    padding: 30px;
    max-height: 80%;
}